/* 
? Start > Example use breakpoints
*/


// @media screen and (min-width: $breakpoint) {
//   # {$login-classText} {
//     background: $col-primary;
//   }

//   # {$af-secondary} {
//     background: $col-secondary;
//     box-shadow: $shadow-dp-1;
//   }
// }
/* 

.b-icon.bi {
    font-size: 125%;
    vertical-align: text-bottom;
  }


@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;        
    }
}

@mixin mobile-tablet {
        @media screen and (min-width: map-get($breakpoints, sm-screen)) and (max-width: map-get($breakpoints, md-screen)) {
            #  { $signup-cardsElmts }
                padding: 0.7rem;
        }
    }

? End < Example use breakpoints
*/

/* 
::*::*::*::*::*::*::*::*::
 + + Breakpoints Size + + 
::*::*::*::*::*::*::*::*::
*/

$breakpoints: (
  sm-screen: 280px,
  md-screen-size1: 767px,
  md-screen-size2: 768px,
  md-screen-size3: 769px,
  lg-screen: 991px,
  lg-screen-size2: 992px,
  xl-screen: 1024px,
);
