/* ---- ---- ---- ---- ----
 + + Breakpoints Size + + 
---- ---- ---- ---- ---- */

$breakpoints: (
  sm-screen: 280px,
  md-screen-size1: 767px,
  md-screen-size2: 768px,
  md-screen-size3: 769px,
  lg-screen: 991px,
  lg-screen-size2: 992px,
  xl-screen: 1024px,
);
