/* ---- ---- ---- ---- ----
 + + Mixins Components + + 
---- ---- ---- ---- ---- */

@mixin basic-app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: $centered;
}


@mixin btnEffects {
  border-radius: 4rem;
	transition: border-radius 0.3s ease-in;
  background-color: rgb(250, 250, 250);
  box-shadow: 
    34px 34px 68px 0px rgb(140, 120, 115), 
    inset -8px -8px 16px 0px rgba(153, 121, 102, 0.7), 
    inset 0px 14px 28px 0px hsl(120deg 20% 95%);
	border: $nothing;
}

@mixin linksPosition {
  display: grid;
	grid-template-columns: 200px;
	grid-template-rows: 100px;
	justify-content: $centered;
	align-items: $centered;
	padding: 15px;
}

@mixin typo-heading {
  color: $col-prim;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgb(0 0 0);
}

@mixin submit-btn {
  background: linear-gradient(to bottom right, $col-prim, $gradient-btn);
  border: 0;
  border-radius: 12px;
  color: $light;
  cursor: pointer;
  display: inline-block;
  font-size: $fsize-XS;
  font-weight: $w500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: $centered;
  text-decoration: $nothing;
  transition: box-shadow .2s ease-in-out;
  user-select: $nothing;
  -webkit-user-select: $nothing;
  touch-action: manipulation;
  white-space: nowrap;
}

@mixin nav-position {
  background-position: 15% 94%;
  width: $full-size;
  -webkit-box-shadow: 0px 5px 13px -7px #000000,
    5px 5px 15px 7px rgb(203 103 13 / 44%);;
  box-shadow: 0px 10px 13px -7px #0000004b,
    5px 5px 15px 7px rgba(184, 184, 184, 0);
}

@mixin border-solid($width: 2px, $color: $col-prim) {
  border: $width solid $color;
}

@mixin without-borders {
  border: $nothing !important;
    outline: $nothing !important;
}


/* ---- ---- ---- ---- ----
 + + Responsive Mixins + + 
---- ---- ---- ---- ---- */

@mixin mobile-tablet-small {
  @media screen and (min-width: map-get($breakpoints, sm-screen)) and (max-width: map-get($breakpoints, md-screen-size1)) {
      @content;
  }
}

@mixin mobile-tablet-medium {
  @media screen and (min-width: map-get($breakpoints, sm-screen)) and (max-width: map-get($breakpoints,  md-screen-size2)) {
      @content;
  }
}

@mixin mobile-tablet-large {
  @media screen and (min-width: map-get($breakpoints, sm-screen)) and (max-width: map-get($breakpoints,  md-screen-size3)) {
      @content;
  }
}

@mixin tablet-large-screnn {
  @media screen and (min-width: map-get($breakpoints, md-screen-size1)) and (max-width: map-get($breakpoints, lg-screen)) {
      @content;
  }
}

@mixin large-screnn {
  @media screen and (min-width: map-get($breakpoints, md-screen-size3)) and (max-width: map-get($breakpoints, lg-screen-size2)) {
      @content;
  }
}