/* ----  ----  ---- ----
 * * Color Themes * * 
 ----  ----  ---- ---- */

$col-prim: #e76f51;
$col-secd: #C65E3A;
$col-thrd: #747474;
$col-extra: #FAAE7B;
$gradient-btn: #FF9A5A;

/* ---- ---- ----
 :: Classic ::
---- ---- ---- */

$light: #FFF;
$dark: #333;

 /* ---- ---- ---- ---- 
 :: Background :: 
---- ---- ---- ---- */

$bg-effect: rgba(192, 192, 192, 0.5);



 /* ----  ----  ---- ----
 * * Shadow Themes * * 
----  ----  ---- ---- */

$shadow: 0rem 0.2rem 0.5rem rgba(53, 53, 53, 0.37);

$shadow-focus: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 146, 83, 0.5), .125rem .125rem 1rem rgba(240, 187, 154, 0.5);

$shadow-hover: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(241, 198, 171, 0.5);



/* ----  ----  ---- ----
* * Size Themes * * 
----  ----  ---- ---- */

$full-size: 100%;
$size-small-comp: 75px;
$size-medium-comp: 100px;



/* ----  ----  ---- ----
 * * Font Style * * 
----  ----  ---- ---- */

$web-font: 'Roboto Flex', sans-serif;


/* ---- ---- 
 :: Weight :: 
---- ---- */

$w500: 500;
$w600: 600;
$w700: 700;
$w800: 800;


/* ---- ----  
 :: Size :: 
---- ---- */

$fsize-XXS: 14px;
$fsize-XS: 16px;
$fsize-S: 1.1rem;
$fsize-M: 1.2rem;
$fsize-L: 1.3rem;

/* ----  ----  ---- ----
 * Border Style * 
----  ----  ---- ---- */
$nothing: none;
$rounded: 25rem;
$medium-border: 15px;
$border-light: 0.25rem;


/* ----  ----  ---- ----
 * * Positioning * * 
----  ----  ---- ---- */

$centered: center;


/* ----  ----  ---- ----
 * * Elements * * 
----  ----  ---- ---- */

$login-classText: ".logoText";
$login-classBtn: ".btn__subscribe";
$signup-cardsElmts: ".account-card, .card-body";
$card: ".card";
$nav-log: "#nav #logo";
