.delete-account {
  font-size: $fsize-XXS;
  border-radius: $border-size;
  background-color: transparent;
  border: $nothing;
  &:hover {
    color: #f33232;
    text-decoration: underline;
  }
  &:focus {
    outline: $nothing;
  }
}