footer {
  width: 100%;
  position: relative;
  bottom: -269px;
 }

 a {
  text-decoration: none;
  outline: none;
 }
 
 i:hover {
   box-shadow: 5px 5px 34px rgb(245, 117, 31);
   background: transparent;
   border-radius: 35px;
 }