.col-12 {
  margin-top: 15px;
}
.post {
  display: block;
  overflow: hidden;
  width: $full-size;
  height: 350px;
  &__image {
    max-width: $full-size;
    max-height: $full-size;
    &:focus {
      outline: $nothing;
    }
  }
}

  .post {
    @include mobile-tablet-large {
    height: 230px;
  }
}

// .col-12 {
//   margin-top: 15px;
// }
// .post {
//   display: block;
//   overflow: hidden;
//   width: $full-size;
//   height: 350px;
//   &__image {
//     max-width: $full-size;
//     max-height: $full-size;
//     &:focus {
//       outline: $nothing;
//     }
//   }
// }

//   .post {
//     @include mobile-tablet-large {
//     height: 230px;
//   }
// }