.router__links {
	@include linksPosition;
}
.home__page {
	background-image: url('../assets/home-background.jpg');
	min-height:	80vh;

	background-repeat: no-repeat;
	background-position: $centered 64%;
	@include  tablet-classic-screnn {
		bottom: -459px;
		@include mobile-tablet-large {
			background: none;
		}
	}
}

.link--effect {
	border: 1px solid #fff;
	color: $light;
	font-weight: $w900;
	font-family: $font-tercary;

}

.link--effect:hover {
	@include btnEffects;
	color: $dark;
}