.router__links {
	@include linksPosition;
}
.home__page {
	background-image: url('../assets/home-background.jpg');
	min-height: 80vh;
	background-repeat: no-repeat;
	background-position: $centered 70%;
}
.link--effect:hover {
	@include btnEffects;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  

}