a {
  @include link-connection ;
  margin-left: 1.2rem;
  @include mobile-tablet-medium {
    font-size: 13px;
  }
}

form input {
  height: 30px;
  padding: 0 0 0 15px;
}

.logoText {
  display: block;
  padding: 20px 0 0 0;
  @include title-style;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.login-text {
  font-family: $font-tercary;
  font-weight: $w900;
   @include mobile-tablet-large {
    font-family: $font-primary;
  font-weight: $w800;
}
}

.line {
  display: block;
  width: $full-size;
  height: 1px;
  background-color: $bg-effect;
}
.account-input {
  &:-webkit-autofill {
    border: $nothing;
    -webkit-text-fill-color: #333;
    transition: background-color 5000s ease-in-out 0s;
  }
  &:focus {
    border: $nothing;
    border-radius: $border-light;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(240, 163, 63, 0.5);
  }
}

.btn__subscribe {
  margin-top: 15px;
  @include submit-btn;
  &:not([disabled]):focus {
    box-shadow: $shadow-focus;
  } &:hover {
      box-shadow: $shadow-hover;
  }
}

  .logoText {
    @include mobile-tablet-medium {
      font-size: 2rem;
      font-family: $font-secondary;
      line-height: 4rem;
    }
}

input {
  @include mobile-tablet-medium {
    line-height: 25px;
    padding: 5px;
    margin: 0 auto;
  }
}

.btn__subscribe {
  @include mobile-tablet-medium {
    margin-top: 2rem;
  }
}