.row {
  margin-left: 0;
  margin-right: 0;
}
.div-main-picture {
  width: $size-medium-comp;
  height: $size-medium-comp;
  margin-bottom: 1rem;
}
.profile-main-picture {
  height: $size-medium-comp;
}
.custom-file-label {
  text-align: left;
}

.profile_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save-btn {
  @include  mobile-tablet-large {
   
  }
  @include submit-btn;
  &:focus {
    box-shadow: $shadow-focus;
  } &:hover {
    box-shadow: $shadow-hover;
  }
  
}

.card-body {
  padding-bottom: 0;
}

.shadow {
  box-shadow: $shadow !important;
}

  .create-button {
    @include mobile-tablet-medium {
    width: 100% !important;
  }
}
  .div-main-picture {
    @include mobile-tablet-medium {
    width: $size-small-comp;
    height: $size-small-comp;
  }
}
  .profile-main-picture {
    @include mobile-tablet-medium {
    height: $size-small-comp;
  }
}
  .shadow {
    @include mobile-tablet-medium {
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.08) !important;
  }
}
