.btn__subscribe {
  @include submit-btn;
  &:not([disabled]):focus {
    box-shadow: $shadow-focus;
  } &:hover {
      box-shadow: $shadow-hover;
  }
}

a {
  @include link-connection ;
}

.page__container {
  background: rgba(255, 255, 255, 0);
}

span.text__slogan {
  @include title-style;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
a {
  text-decoration: $nothing;
}

form input {
  height: 32px;
  padding: 0 0 0 15px;
}


.account-card {
    .card-body {
      @include mobile-tablet-large {
      padding: 0.7rem;
    }
  }
}
  .shadow {
     @include mobile-tablet-large {
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.08) !important;
  }
}
  .login-text {
    font-family: $font-tercary;
    font-weight: $w800;
     @include mobile-tablet-large {
      font-family: $font-primary;
    font-weight: $w800;
  }
}

  .slogan {
     @include mobile-tablet-large {
    display: $nothing;
  }
}

// .btn__subscribe {
//   @include submit-btn;
//   &:not([disabled]):focus {
//     box-shadow: $shadow-focus;
//   } &:hover {
//       box-shadow: $shadow-hover;
//   }
// }


// .page__container {
//   background: rgba(255, 255, 255, 0);
// }

// span.text__slogan {
//   color: $col-prim;
//   font-weight: $w800;
//   text-shadow: 2px 2px 2px rgb(0, 0, 0);
// }
// a {
//   text-decoration: $nothing;
// }

// .account-card {
//     .card-body {
//       @include mobile-tablet-large {
//       padding: 0.7rem;
//     }
//   }
// }
//   .shadow {
//      @include mobile-tablet-large {
//     box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.08) !important;
//   }
// }
//   .login-text {
//      @include mobile-tablet-large {
//     font-size: $fsize-S;
//   }
// }

//   .slogan {
//      @include mobile-tablet-large {
//     display: $nothing;
//   }
// }